/* General */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.big-container {
    width: 60%;
    max-width: 3092px;
    margin: 0 auto;
}

.little-container {
    width: 50%;
    max-width: 2800px;
    margin: 0 auto;
}

.flx {
    display: flex;
}

h2 {
    font-size: 3rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #0E0E0E;
}

img {
    width: 100%;
}

.width40 {
    width: 40%;
}

.width60 {
    width: 60%;
}


/* Header */

header {
    background: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 2px solid lightgrey;
}

.head-menu {
    width: 30%;
    align-items: center;
}

.head-menu.left {
    justify-content: flex-start;
    padding-left: 30px;
}

.head-menu.right {
    justify-content: flex-end;
    padding-right: 30px;
}

.head-menu.left ul {
    padding-left: 20px;
}

.head-menu li {
    border-bottom: 2px solid white;
    transition: .5s;
}

.head-menu li a {
    display: inline-block;
    padding: 50px 20px;
}

.head-menu li:hover {
    border-bottom: 2px solid black;
    font-weight: 600;
}

.start {
    display: inline-block;
    padding: 8px 20px;
    margin-left: 5px;
    background: #0061FF;
    border: 1px solid #0061FF;
    color: white;
    transition: .5s;
}

.start:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}


/* Main */

main {
    margin-top: 120px;
}


/* Jumbo */

.jumbo-container {
    background: #B4D0E7;
}

.jumbo-container .big-container {
    position: relative;
    top: 100px;
}

.jumbo-container h1 {
    font-size: 5.5rem;
    padding-bottom: 50px;
    font-weight: 800;
}

.jumbo-left {
    width: 30%;
    position: relative;
}

.jumbo-right {
    width: 70%;
    margin-left: 20px;
}

.jumbo-left p {
    font-size: 1.4rem;
}

.jumbo-left .top-btn {
    background: #0061FF;
    border: 1px solid #0061FF;
    color: white;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 60px;
    font-size: 1.3rem;
    transition: .5s;
}

.top-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.jumbo-left .bot-btn {
    display: inline-block;
    margin: 40px 0;
    font-size: 1.3rem;
}

.bot-btn:hover {
    text-decoration: underline;
}

.jumbo-left i {
    font-size: 4rem;
    position: absolute;
    top: 70%;
    left: 0;
}

.down-arrow:hover .fa-arrow-down {
    animation: bounce 1s linear infinite;
}

@keyframes bounce {
    0% {
        top: 70%;
    }

    50% {
        top: 72%;
    }

    100% {
        top: 70%;
    }
}


/* Business plans */

.business-plans {
    margin: 200px auto 0;
}

.business-plans h2 {
    margin-bottom: 50px;
}

.check1 {
    margin-right: 50px;
}

.check1::before {
    content:'';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 6px solid blue;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.check2::before {
    content:'';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.plans-container {
    justify-content: space-between;
    margin-top: 50px;
}

.plans-card {
    width: 30%;
    border: 1px solid lightgrey;
}

.plan-name {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.card-body {
    padding: 30px;
}

.card-body h3,
.contact-card-body h3 {
    padding: 10px 0 20px;
    font-size: 2rem;
}

.subscription-cost {
    margin-bottom: 10px;
    font-weight: 800;
}

.subscription-time {
    margin-bottom: 50px;
    color: grey;
}

.card-body ul li {
    padding-top: 20px;
    font-size: 1.2rem;
}

.card-body ul li div {
    display: inline-block;
    height: 100%;
}

.card-icon {
    width: 5%;
    vertical-align: top;
    margin-right: 10px;
}
.card-spec {
    width: 90%;
}

.card-button {    
    margin: 50px 0;
    background: #0061FF;
    color: white;
    display: inline-block;
    padding: 15px 20px;
    width: 100%;
    text-align: center;
}

.buynow {
    color: blue;
    text-decoration: underline;
}

.card-body hr {
    width: 20%;
    background: lightgrey;
    margin: 50px 0;
}

.feature {
    margin: 10px;
}

.bluecheck {
    color: blue;
}

.contact-card {
    margin-top: 50px;
    border: 1px solid lightgrey;
}

.contact-card-body {
    padding: 30px;
    justify-content: space-between;
}

.contact-card-body p {
    margin-top: 50px;
}

.contact-card-left {
    width: 60%;
}

.contact-card-right {
    width: 25%;
}

.contact-card-right a {
    display: inline-block;
    width: 100%;
    background: #0061FF;
    padding: 15px 20px;
    color: white;
    text-align: center;
}


/* Partners */

.partner-box {
    padding-top: 200px;
}

.partner-right {
    padding: 60px;
}

.partner-right h3 {
    font-size: 2rem;
}

.partner-right p {
    margin: 30px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.partner-right a {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid black;
    font-size: 1.1rem;
    transition: .5s;
}

.partner-right a:hover {
    background: black;
    color: white;
}


/* Dropbod Business */

.dbxbusiness {
    margin: 200px auto;
}

.dbxbusiness-feature {
    justify-content: space-between;
    flex-wrap: wrap;
}

.dbxbusiness h2 {
    margin-bottom: 50px;
}

.dbxbusiness-card {
    width: 30%;
    padding: 20px;
}

.dbxbusiness-card h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.dbxbusiness h2:last-of-type {
    margin-top: 200px;
    margin-bottom: 80px;
}

.dbxbusiness a {
    color: blue;
    text-decoration: underline;
}


/* Partners list */

.partner-container {
    width: 100%;
}

.partner-list {
    width: calc(100% / 3);
}

.pl-flex {
    flex-wrap: wrap;
}

.partner-agency {
    position: relative;
    width: 50%;
    height: 17vw;
    transition: .2s;
}

.partner-agency img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.partner-agency:hover {
    box-shadow: 0 0 0 30px rgba(255,255,255,.5) inset;
    cursor: pointer;
}

.pl-center {
    padding: 50px;
    height: 34vw;
    overflow-y: scroll;
    background: #F5F5F5;
}

.pl-center img {
    width: 50%;
}

.pl-center hr {
    width: 20%;
    margin: 50px 0;
}

/* Partners acency backgrounds */

.designit {
    background: #A2D39B;
}

.asu {
    background: #61082B;
}

.uof {
    background: #0093CE;
}

.topps {
    background: #FF1C1C;
}

.wbr {
    background: #D5001F;
}

.hearst {
    background: #B4D0E7;
}

.lonelyplanet {
    background: #0D2481;
}

.clearchannel {
    background: #FFD830;
}


/* Free trial */

.free-trial {
    background: #B4D0E7;
    padding-top: 200px;
}

.ft-container {
    justify-content: space-between;
    align-items: center;
}

.free-trial h2 {
    color: #61082B;
    padding-bottom: 100px;
    width: 50%;
}

.free-trial a {
    width: 30%;
    display: inline-block;
    padding: 15px 20px;
    background: white;
    text-align: center;
    align-self: flex-start;
    transition: .5s;
}

.free-trial a:hover {
    background: black;
    color: white;
}


/* FAQ */

.faq {
    margin: 100px auto;
}

.faq h2 {
    margin-bottom: 100px;
}

.faq-box {
    padding: 50px 0;
    border-top: 1px solid grey;
    cursor: pointer;
    position: relative;
}

.faq-box p {
    display: none;
    padding: 30px 0;
}

.faq-box i {
    position: absolute;
    top: 40%;
    right: 10px;
    transition: .2s linear;
}

.faq-box:hover p {
    display: inline-block;
    width: 80%;
}

.faq-box:hover i {
    transform: rotate(180deg);
}

.faq-box:last-child {
    border-bottom: 1px solid grey;
}


/* Footer */

footer {
    background-color: black;
}

footer h3,
footer a {
       color: white;
}

footer .contact {
    justify-content: center;
    padding: 100px 0;
}

.foot-info {
    width: 20%;
}

.foot-info h3 {
    padding: 30px 0;
    font-size: 2rem;
}

.foot-info ul li {
    line-height: 40px;
}

.foot-info ul li:hover {
    text-decoration: underline;
}

.language-settings hr {
    margin: 50px 0;
    width: 10%;
}

.language-settings {
    padding: 50px 0;
    color: grey;
}

.language-settings span {
    margin: 0 5px 0 10px;
}
