/* General */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.big-container {
    width: 60%;
    max-width: 3092px;
    margin: 0 auto;
}

.little-container {
    width: 50%;
    max-width: 2800px;
    margin: 0 auto;
}

.flx {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #0E0E0E;
}

img {
    width: 100%;
}



/* Header */

header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 1.2rem;
}

header img {
    width: 20%;
}

.head-menu {
    width: 30%;
    padding: 20px 0;
    align-items: center;
}

.head-menu.left {
    justify-content: flex-start;
    padding-left: 30px;
}

.head-menu.right {
    justify-content: flex-end;
    padding-right: 30px;
}

.head-menu.left ul {
    padding-left: 20px;
}

.head-menu li {
    display: inline-block;
    padding: 0 20px;
}

.start {
    display: inline-block;
    padding: 8px 20px;
    background: #297AFE;
    color: white;
}


/* Main */

/* Jumbo */

.jumbo-container {
    background: #B4D0E7;
}

.jumbo-container .big-container {
    position: relative;
    top: 100px;
}

.jumbo-container h1 {
    font-size: 5.5rem;
    padding-bottom: 50px;
    font-weight: 800;
}

.jumbo-left {
    width: 30%;
    position: relative;
}

.jumbo-right {
    width: 70%;
    margin-left: 20px;
}

.jumbo-left p {
    font-size: 1.4rem;
}

.jumbo-left .top-btn {
    background: #297AFE;
    color: white;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 60px;
    font-size: 1.3rem;
}

.jumbo-left .bot-btn {
    display: inline-block;
    margin: 40px 0;
    font-size: 1.3rem;
}

.jumbo-left i {
    font-size: 4rem;
    position: absolute;
    top: 70%;
    left: 0;
}
